<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Something went wrong!</h1>
      <p>Unfortunately, something didn't work as expected on the server.</p>
      <a href="/" class="btn">Go back home</a>
    </main>
  </body>
</html>
